{% extends 'layout.html' %}

{% block title %}Helgason - PUT/POST Web hooks request viewer{% endblock %}

{% block script %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/javascript/app.min.js"></script>
{% endblock %}

{% block description %}
<div>
  <p>Support HTTP method: PUT, POST</p>
  <p>Web hooks <b><span class="host-name"></span>/</b></p>
  <p>Basic Authorization <b><span class="host-name"></span>/basic</b></p>
  <p>Setup Basic Authorization pass (POST method): <b><span class="host-name"></span>/basic/set</b></p>
</div>
{% endblock %}

{% block message %}
<div>
  <p style="font-size: large;"><b>Messages</b></p>
</div>
<div id="message" class="message"></div>
{% endblock %}
